<div class="mb-4">
  <turbo-frame id="<%= dom_id(task) %>">
    <div class="flex items-start gap-2 group p-2 rounded">
      <%= render partial: "tasks/components/task_body", locals: { task: task } %>
      <%= render partial: "tasks/components/task_actions", locals: { task: task } %>
    </div>
  </turbo-frame>
</div>