<h1 class="text-4xl text-green-700 font-semibold underline">Home#index</h1>

<p>レイアウト確認用ページ</p>

<%= link_to 'logout', main_app.destroy_user_session_path, method: :delete, class: "btn" %>

<button class="btn">Button</button>
<button class="btn btn-primary">確認</button>
<button class="btn-primary">保存</button>
<button class="btn-secondary">キャンセル</button>
<button class="btn-accent">新規作成</button>
<button class="btn-success">完了</button>
<button class="btn-error">削除</button>
<button class="btn-disabled">送信できません</button>
