<aside class="w-96 bg-gray-100 border-r overflow-y-auto">
    <div class="h-16 flex items-center justify-center border-b font-bold">
    Skill Tree
    </div>
    <%= render "tasks/done_list", tasks: @done_tasks %>
</aside>