<aside class="w-96 bg-gray-100 border-r overflow-y-auto">
    <div class="h-16 flex items-center justify-center font-bold">
    Skill Tree
    </div>
    <%= turbo_frame_tag "done_list" do %>
        <%= render "tasks/done_list", done_tasks_by_date: @done_tasks_by_date %>
    <% end %>
</aside>